<Ui xmlns="http://www.blizzard.com/wow/ui/">
    <Script file="Schema\ConfigLayout.lua"/>
    <Script file="Schema\SchemaBuilder.lua"/>
    <Include file="Widgets\Widgets.xml"/>
    <Script file="Schema\ConfigRenderer.lua"/>
    <Script file="Panels\OrbitSettingsDialog.lua"/>
    <Script file="Panels\OrbitOptionsPanel.lua"/>
    <Script file="Panels\Tabs\GlobalTab.lua"/>
    <Script file="Panels\Tabs\ColorsTab.lua"/>
    <Script file="Panels\Tabs\EditModeTab.lua"/>
    <Script file="Panels\Tabs\ProfilesTab.lua"/>
    <Script file="Entry\SlashCommands.lua"/>
    <Script file="WhatsNew.lua"/>
    <Script file="Entry\OrbitOptionsButton.lua"/>
    <Script file="Panels\OrbitAdvancedSettings.lua"/>
    <Script file="Advanced\PluginManager.lua"/>
    <Script file="Advanced\VisibilityEngine.lua"/>
    <Script file="Advanced\QoL.lua"/>
</Ui>
