name: Release AddOn

on:
  push:
    branches:
      - "main"
  tags:
    - "**"

env:
  # CurseForge API Key from GitHub Secrets
  CF_API_KEY: ${{ secrets.CURSE_API_KEY }}
  # GitHub Token is automatically provided
  GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Build and Package
        uses: BigWigsMods/packager@v2
